.field-sea {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.field-player {
  background-color: $playerColor;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.field-opponent {
  background-color: $opponentColor;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.field-ship {
  background-color: #F0F0F0;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.field-hit {
  background-color: $hitColor;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.fade {
  animation: fade-in-keyframes 1s;
}
@keyframes fade-in-keyframes {
  from {opacity: 0}
  to {opacity: 1}
}
